h1{
    background-color: rgb(27, 0, 0);
    width: 80%;
    text-align: center;
    color: white;
    border-radius: 20px;
}

h3{
    text-align: center;
    background-color: aquamarine;
    width: 80%;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 20px;
}


#titulos{
    display: flex;
    width: 80%;
}


body{
    background-color: rgb(0, 0, 0);
}

input{
    width: 95px;
    height: auto;
}

#Cuerpo{
    background-color: rgb(88, 88, 88);
    width: 80%;
    padding-bottom: 25px;
    border-radius: 20px;
 
}




#tablaContenido{
background-color: brown;
}


#botones{
   
    background-color: rgb(0, 0, 0);
    width: 80%;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 20px;
}

button{
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(77, 77, 77);
}

button:hover{
    background-color: red;
    
}

th{
    background-color: rgb(84, 138, 255);
    color: black;
    border-radius: 5px;
}


.container{
    background-color: rgb(31, 31, 31);
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}